<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="SrcPath" value="G:\Abp\abp-mvc-template"/>
    <add key="IgnorePaths" value=".git|.vs|bin|obj|packages|logs|node_modules"/>
    <add key="IgnoreTypes" value="exe"/>
    <add key="DefaultSln" value="MyCompany.MyProject"/>
    <add key="DefaultProject" value="MyProject"/>
  </appSettings>
</configuration>