<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--模板工程路径-->
    <add key="SrcPath" value="E:\MyCompany.MyProject"/>
    <!--忽略路径-->
    <add key="IgnorePaths" value=".git|.vs|bin|obj|packages|logs|node_modules"/>
    <!--忽略文件-->
    <add key="IgnoreFiles" value=""/>
    <!--不进行替换的文件（只复制，不替换文件内容）-->
    <add key="SkipFiles" value="exe|zip|rar"/>
    <!--模板工程名-->
    <add key="DefaultSln" value="MyCompany.MyProject"/>
  </appSettings>
</configuration>