@using Abp.Web.Mvc.Extensions
@model MyCompany.MyProject.Web.Models.Account.LoginFormViewModel
@{
    ViewBag.JsPath = "app/account/login";
}
@section styles {
    <style>
        .login-form {
            width: 500px;
            margin: 0 auto;
            margin-top: 20px;
        }
    </style>
}
<div class="login-form">
  <form class="layui-form">
    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
    <input type="hidden" name="returnUrlHash" />
    <div class="layui-form-item">
      <label class="layui-form-label">账号</label>
      <div class="layui-input-block">
        <input type="text" name="UsernameOrEmailAddress" lay-verify="required" placeholder="请输入账号" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-block">
        <input type="password" name="Password" lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn" lay-submit>登录</button>
        @if (Model.IsSelfRegistrationAllowed) {
        <button class="layui-btn layui-btn-primary">注册</button>
        }
      </div>
    </div>
  </form>
</div>