<div class="modal-container">
  <form class="layui-form" lay-filter="form-type">
    {{# if(!d.isEdit){ }}
    <div class="layui-form-item">
      <input type="text" name="name" placeholder="类型名称" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    {{# } }}
    <div class="layui-form-item">
      <input type="text" name="displayName" placeholder="显示名称" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item t-c">
      <button class="layui-btn" lay-submit lay-filter="add">确定</button>
    </div>
  </form>
</div>
