<div class="modal-container">
  <form class="layui-form" lay-filter="main">
    <div class="layui-form-item">
      <input type="text" disabled class="layui-input layui-disabled layui-bg-gray" value="{{d.typeName}}" />
    </div>
    <div class="layui-form-item">
      <input type="text" name="name" lay-verify="required" autocomplete="off" class="layui-input" placeholder="名称" />
    </div>
    <div class="layui-form-item">
      <textarea rows="2" name="info" maxlength="255" class="layui-textarea" placeholder="说明"></textarea>
    </div>
    <div class="layui-form-item t-c">
      <button class="layui-btn layui-btn-normal" lay-submit lay-filter="save">保存</button>
    </div>
  </form>
</div>
