<div class="modal-container">
  <form class="layui-form" lay-filter="form-user">
    {{# if(!d.model.userName){ }}
    <div class="layui-form-item">
      <input type="text" name="userName" placeholder="登录名" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    {{# } }}
    <div class="layui-form-item">
      <input type="text" name="name" placeholder="昵称" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    {{# if(!d.model.userName){ }}
    <div class="layui-form-item">
      <input type="password" name="password" placeholder="密码" lay-verify="required" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item">
      <input type="password" name="passwordConfirm" placeholder="密码确认" lay-verify="required|confirm" autocomplete="off" class="layui-input">
    </div>
    {{# } }}
    <div class="layui-form-item">
      <select name="interest" lay-filter="aihao" lay-verify="required">
        <option value="">部门</option>
        {{# layui.each(d.organizations, function(index, item){ }}
        <option value="{{item.id}}">{{item.text}}</option>
        {{# }); }}
      </select>
    </div>
    <div class="layui-form-item">
      <input type="text" name="emailAddress" placeholder="电子邮箱" lay-verify="email" autocomplete="off" class="layui-input">
    </div>
    <div class="layui-form-item">
      {{# layui.each(d.roles, function(index, item){ }}
      <input type="checkbox" name="role[{{item.name}}]" lay-skin="primary" title="{{item.displayName}}"> {{# }); }}
    </div>
    <div class="layui-form-item t-c">
      <button class="layui-btn" lay-submit lay-filter="addUser">确定</button>
    </div>
  </form>
</div>