
@{
    ViewBag.ActiveMenu = PageNames.Userinfo.ChangePassWord;
    ViewBag.JsPath = "app/user/changepassword";
}
@section styles {
    <link href="~/Assets/css/three-line.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Assets/node_modules/jstree/dist/themes/default/style.min.css" />
}
    <div class="father">=
        <form class="layui-form child" lay-filter="form-changepassword">
            <!--<input type="hidden" name="id" value="${id}" />-->
            <div class="layui-form-item">
                <label class="layui-form-label">旧密码</label>
                <div class="layui-input-block" style="float:left; margin-left:0;">
                    <input type="password" name="oldPassword" id="oldPassword" required lay-verify="required" autofocus class="layui-input" maxlength="32" minlength="6" placeholder="请输入旧密码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-block" style="float:left; margin-left:0;">
                    <input type="password" name="newPassword" id="newPassword" required lay-verify="required" autofocus class="layui-input" maxlength="32" minlength="6" placeholder="请输入新密码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确认密码</label>
                <div class="layui-input-block" style="float:left; margin-left:0;">
                    <input type="password" name="confirmNewPassword" id="confirmNewPassword" required lay-verify="required|confirm" autofocus class="layui-input" maxlength="32" minlength="6" placeholder="请输入确认新密码">
                </div>
            </div>
            <div class="layui-form-item change-submit">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="changesubmit">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>

    </div>
