@{
    ViewBag.ActiveMenu = PageNames.Administration.Users; //The menu item will be active for this page.
    ViewBag.JsPath = "app/admin/users";
}
<form class="layui-form layui-form-pane">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">用户名</label>
      <div class="layui-input-inline">
        <input type="text" name="username" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-inline">
      <div class="layui-input-inline">
        <button class="layui-btn" lay-submit lay-filter="search">查询</button>
        <button class="layui-btn layui-btn-normal" id="btn-add" lay-filter="">新增</button>
      </div>
    </div>
  </div>
</form>
<table id="main-table" lay-filter="user"></table>
<script type="text/html" id="actionTpl">
  <button class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit">编辑</button>
  <button class="layui-btn layui-btn-danger layui-btn-xs" lay-event="delete">删除</button>
</script>