
@{
    ViewBag.ActiveMenu = PageNames.Userinfo.ChangePassWord;
    ViewBag.JsPath = "app/user/changepassword";
}

<button class="layui-btn layui-btn-normal" id="btn-changepassword" lay-filter="">修改密码</button>

