
@{
    ViewBag.ActiveMenu = PageNames.Userinfo.ChangePassWord;
    ViewBag.JsPath = "app/user/changepassword";
}
@section styles {
    <style>
        .form-changepassword {
            width: 500px;
            margin: 0 auto;
            margin-top: 20px;
        }
    </style>
}
<div>
    <form class="layui-form form-changepassword" lay-filter="form-changepassword">
        <div class="layui-form-item">
            <label class="layui-form-label">旧密码</label>
            <div class="layui-input-block">
                <input type="password" name="oldPassword" id="oldPassword" required lay-verify="required" autocomplete="off" class="layui-input" maxlength="32" minlength="6" placeholder="请输入旧密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-block">
                <input type="password" name="newPassword" id="newPassword" required lay-verify="required" autocomplete="off" class="layui-input" maxlength="32" minlength="6" placeholder="请输入新密码">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">确认密码</label>
            <div class="layui-input-block">
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" required lay-verify="required|confirm" autofocus class="layui-input" maxlength="32" minlength="6" placeholder="请输入确认新密码">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="changesubmit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>

</div>


