@{
    ViewBag.ActiveMenu = PageNames.Sample.Table;
    ViewBag.JsPath = "app/sample/table";
}
<button class="layui-btn layui-btn-normal" id="btn-setting">设置</button>
<hr>
<table id="main-table" lay-filter="role"></table>